<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Conex" connectionString="Data Soruce=DESKTOP-UTKITSU\\TEST_S_LOCAL;Initial Catalog=TallerMecanico;Integrated Security=True;Trusted_Connection=true" />
		<add name="Conex2" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=TallerMecanico;Server=DESKTOP-UTKITSU\TEST_S_LOCAL" />
		<add name="Conex3" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=TallerMecanico;Server=DESKTOP-UTKITSU\TEST_S_LOCAL" />
	</connectionStrings>
</configuration>
