<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="Conex" connectionString="Data Source=DESKTOP-RNNRCFC;Initial Catalog=TallerMecanico;Integrated Security=True;Trusted_Connection=true;user=DESKTOP-RNNRCFC/yerson"/>
		<add name ="conex2" connectionString= "Server=tcp:uninpahu-class-test.database.windows.net,1433;Initial Catalog=TallerMecanicoAssociate20211;Persist Security Info=False;User ID=yerssonyrc;Password=Yroaca#1991;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"/>
	</connectionStrings>
</configuration>
